.jobsite {
	padding: 1em;
}

.jobsite:hover {
	transition: .5s;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.btn.edit {
	color:black;
	font-size: 1.2em;
	border-radius: 5px;
	width: 75px;
}
.btn.edit:hover {
	background-color:black;
	color:white;
	transition: 1s;
}