@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');


.jobsite {
	margin: 1em 3em;
	padding: 3.5em;
	font-family: 'Open Sans', sans-serif;
}

.jobsite:hover {
	transition: .5s;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.jobsite-container-1 > *{
	margin: 0;
}

.jobsite-container-2 {
	line-height: 1em;
/*	display: flex;
*/}

.jobsite-container-2 > * {
/*	flex: 1;
*/	
/*padding: 1em;
*/}


.jobsite-card {
	border: 1px solid black;
	height: 420px;
	width: 300px;
	margin: 1em;
	padding: 2.5em;
	font-family: 'Open Sans', sans-serif;	
}

