@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
  font-family: Arial;
  font-size: 16px;
}

.sidebar {
  position: fixed;
  width: 20%;
  height: 100vh;
  background: #312450; /* purple */
  /*  nice black
  background:   #151515;
  */
  font-size: 0.55em;

    position: fixed;
    overflow-y: scroll;
    top: 0;
    bottom: 0;

  }

.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
}

.nav ul {
  list-style: none;

  li {
    position: relative;
    margin: 3.2em 0;
    
    a {
      line-height: 3.5em;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 0.4em;
      color: rgba(#FFF, 0.35);
      display: block;
      transition: all ease-out 100ms;
    }
    
    &.active a {
      color: white;
      font-weight: bold;
    }
    
    &:not(.active)::after {
      opacity: 0.2;
    }
    
    &:not(.active):hover a {
      color: rgba(#FFF, 0.75);
    }
    
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 0.2em;
      background: black;
      left: 0;
      bottom: 0;
      background-image: linear-gradient(to right, #5e42a6, #b74e91)
    }
  }
}

/* Target the header */

.nav ul li#sidebar-header::after {
  background: none;
  background-image: none;
}